@page
@model ProVisionTakeHome.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!--lists outputlist of programs and their versions-->
    <ul>
        @foreach (var program in Model.OutputList) {
            <li>@program</li>
        }
    </ul>
</div>
